<html xmlns="http://www.thymeleaf.org">

<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link th:href="@{/securityStyles/login.css}" rel="stylesheet" />

</head>
<body>
	<div class="background">
	</br>
	<div class="alert-register"th:if="${param.success}">
				Registration successfull!</div>
</br>
	<div class = "form">
</br>
<div class = "h4"><h3>Login</h3></div>
	<div class = "content">
		<form th:action="@{/security/login}"  th:method="post">
				<label for="username">Username</label >
				</br>
   				<input type="text" id="username" name="username">
   				<label for="password">Password</label >
   				</br>
   				<input type = "password" name="password" id="password">
   				</br>
   				<input type="submit" value="Log in">
  </form>
</div>
</br>
<div class="goSignUp">
<p>Don't have an account? Sign up</p><a th:href="@{/security/signUp}">here</a >
</div >
</div >
	</div>
</body>
</html>