<html xmlns="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign up</title>
<link th:href="@{/securityStyles/sign-up.css}" rel="stylesheet" />

</head>
<body>
	<div class="background">
<div class = "form">
<div class = "h4"><h3>Sign up</h3></div>
	<div class = "content">
		<form th:action="@{/security/saveUser}" th:object="${dto}" th:method="POST">
				<label>First name</label>
				</br>
   				<input type="text" th:field="*{firstName}"/>
   				 <p th:each="error: ${#fields.errors('firstName')}" 
         		 th:text="${error}">Validation error</p>
				<label>Username</label>
				</br>
   				<input type="text" th:field="*{username}"/>
   				 <p th:each="error : ${#fields.errors('username')}" 
          		 th:text="${error}">Validation error</p>
   				<label>Password</label>
   				</br>
   				<input type = "password" th:field = "*{password}"/>
   				 <p th:each="error : ${#fields.errors('password')}" 
          		 th:text="${error}">Validation error</p>
   				</br>
   				<input type="submit" value="Sign up"/>
  </form>
</div>
</br>
<div class="goLogin">
<p>Already have an account? Login</p><a th:href="@{/security/login}">here</a >
</div >
 
</div >
	</div>
</body>
</html>