<html xmlns="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Assign role</title>
<link th:href="@{/adminStyles/add-role-to-user-admin.css}" rel="stylesheet" />
<link th:href="@{/css/js_errors.css}" rel="stylesheet" />
<link th:href="@{/css/navbar.css}" rel="stylesheet" />

<body>
	 <nav class="navbar">
      <div class="navbar__container">
        <a th:href="@{/home}" id="navbar__logo">Restaurant</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a th:href="@{/home}" class="navbar__links" >Home</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/admin/users}" class="navbar__links">Users</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/admin/users/waiters}" class="navbar__links">Waiters</a>

          </li>
          <li class="navbar__btn">
            <a th:href="@{/logout}" class="button" id="signup">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    
<div class = "form">
</br>
<div class = "h4"><h3>Assign role</h3></div>
	<div class = "roles">
		<form th:action="@{/admin/add-RTU}" th:object="${rtu}" th:method="POST" onsubmit="return formValidationAdmin()">
				<div class="input-control">	
   				<input name="role" type="radio" th:field="*{type}" value="USER" />User
        	 	<input name="role" type="radio" th:field="*{type}" value="WAITER" />Waiter
        	 	<input name="role" type="radio" th:field="*{type}" value="ADMIN" />Admin<br/>
			 	<div id="roleError"></div>
				<div class="error"></div>
				</div>
			 	<input type="hidden"th:field ="*{username}" > 
   				<input type="submit" value="Submit">
  </form>
</div>

</div  >
  <script src="/js/home.js"></script >
   <script src="/js/validateRoleOperation.js"></script >
</body>
</html>