<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<title>Home</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css" />
	<link th:href="@{/adminStyles/home-admin.css}" rel="stylesheet" />
</head>

<body>
	<div class="background">
		<div class = "navbar">
			<nav>
				<ul>
				<li><a th:href="@{/admin/home}">Home</a></li>
				<li><a th:href="@{/admin/users}" >Users</a></li>
				<li><a th:href="@{/admin/users/waiters}">Waiters</a> </li>
				<li><a th:href="@{/admin/roles}"> Roles</a></li>
				</ul>
			</nav>		
			</div> 
		</div > 
</body>
</html>