<html xmlns="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Remove role</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<link th:href="@{/adminStyles/remove-role-from-user-admin.css}" rel="stylesheet" />
</head>

<body>
		 <nav class="navbar">
      <div class="navbar__container">
        <a th:href="@{/home}" id="navbar__logo">Restoraunt</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a th:href="@{/home}" class="navbar__links" >Home</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/admin/users}" class="navbar__links">Users</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/admin/users/waiters}" class="navbar__links">Waiters</a>

          </li>
          <li class="navbar__btn">
            <a th:href="@{/logout}" class="button" id="signup">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
<div class = "form">
</br>
</br>
</br>
<div class = "h4"><h4>Remove role</h4></div>
	<div class = "roles">
		<form th:action="@{/admin/remove-RFU}" th:object="${rfu}" method="GET" onsubmit="return formValidationAdmin()">
   				<input name="role" type="radio" th:field="*{type}" value="USER" />User
        	 	<input name="role" type="radio" th:field="*{type}" value="WAITER" />Waiter
        	 	<input name="role" type="radio" th:field="*{type}" value="ADMIN" />Admin<br/>
			 	<input type="hidden"th:field ="*{username}" > 
   				<input type="submit" value="Submit">
  </form>
</div>

</div  >
  <script src="/js/home.js"></script >
     <script src="/js/validateRoleOperation.js"></script >

</body>
</html>