<html xmlns="http://www.thymeleaf.org">

<head>
<title>Edit User</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link th:href="@{/adminStyles/update-admin.css}" rel="stylesheet" />
</head>
<body>

	<div class="background">
	<div class = "navbar">
			<nav>
				<ul>
				<li><a th:href="@{/admin/home}">Home</a></li>
				<li><a th:href="@{/admin/users}" >Users</a></li>
				<li><a th:href="@{/admin/users/waiters}">Waiters</a> </li>
				<li><a th:href="@{/admin/roles}"> Roles</a></li>	
				</ul>
			</nav>		
			</div> 
		<div class = "blank"></div >
		<div class = "buttons">
			<a th:href="@{/admin/add-RTU-form(id = ${user.id})}" class="btn btn-success mb-2">Assign role</a> 
			<a th:href="@{/admin/remove-RFU-form(id = ${user.id})}" class="btn btn-danger mb-2">Remove role</a>
		</div >
	</div>
</body>
</html>