<html xmlns="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Edit User</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link th:href="@{/adminStyles/update-admin.css}" rel="stylesheet" />
<link th:href="@{/css/navbar.css}" rel="stylesheet" />
</head>
<body>
		 <nav class="navbar">
      <div class="navbar__container">
        <a th:href="@{/home}" id="navbar__logo">Restaurant</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a th:href="@{/home}" class="navbar__links" >Home</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/admin/users}" class="navbar__links">Users</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/admin/users/waiters}" class="navbar__links">Waiters</a>

          </li>
          <li class="navbar__btn">
            <a th:href="@{/logout}" class="button" id="signup">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
		<div class = "blank"></div >
		<div class = "buttons">
			<a th:href="@{/admin/add-RTU-form(id = ${user.id})}" class="btn btn-success mb-2">Assign role</a> 
			<a th:href="@{/admin/remove-RFU-form(id = ${user.id})}" class="btn btn-danger mb-2">Remove role</a>
		</div >
	<script src="/js/home.js"></script >
</body>
</html>