<html xmlns="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tables</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css" />
<link th:href="@{/waiterStyles/tables-waiter.css}" rel="stylesheet" />

</head>
<body>
	<div class="background">
	<nav class="navbar">
      <div class="navbar__container">
        <a th:href="@{/public/home}" id="navbar__logo">Restoraunt</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a th:href="@{/public/home}" class="navbar__links" >Home</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/waiter/todayReservations}" class="navbar__links">Today reservations</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/waiter/deleteExpiredReservations}" class="navbar__links">Expired reservations</a>

          </li>
          <li class="navbar__btn">
            <a th:href="@{/logout}" class="button" id="signup">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
		<br/>
		<table class="table table-bordered table" id = "w_tables-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Occupied</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="t: ${tables}">
					<td th:text="${t.id}"></td>
					<td th:text="${t.busy}"></td>
					<td><a th:href="@{/waiter/setBusy(id = ${t.id})}"
						class="btn btn-success">Occupied</a> <a
						th:href="@{/waiter/setCalm(id = ${t.id})}"
						class="btn btn-warning">Empty</a></td>
				</tr>
			</tbody>
		</table>
	</div >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
<script>
	$(document).ready(function(){
		$("#w_tables-table").DataTable();
	})
</script>
</body>
</html>