<html xmlns="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tables</title>
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/waiterTables.css}">
<link th:href="@{/waiterStyles/waiter.css}" rel="stylesheet" />
<link th:href="@{/css/notification.css}" rel="stylesheet" />
<link th:href="@{/css/navbar.css}" rel="stylesheet" />

</head>
<body>
	<nav class="navbar">
      <div class="navbar__container">
        <a th:href="@{/home}" id="navbar__logo">Restoraunt</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a th:href="@{/home}" class="navbar__links" >Home</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/waiter/todayReservations}" class="navbar__links">Today</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/waiter/deleteExpiredReservations}" class="navbar__links">Expired</a>

          </li>
          <li class="navbar__btn">
            <a th:href="@{/logout}" class="button" id="signup">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="pop-up" class= "alert alert-primary" role="alert" th:text="${success}" 
	th:if="${success}" onclick="remove()" onmouseover="changeCursor()"></div>
	<div></div>
		<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Occupied</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="t: ${tables}">
					<td th:text="${t.id}"></td>
					<td th:text="${t.busy}"></td>
					<td><a th:href="@{/waiter/setBusy(id = ${t.id})}"
						class="btn btn-success">Occupied</a> <a
						th:href="@{/waiter/setCalm(id = ${t.id})}"
						class="btn btn-warning">Empty</a></td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
  </div>
</div>
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/select2/select2.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/home.js"></script >
<script src = "/js/remove_div.js"></script > 
</body>
</html>