<html xmlns="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Today reservations</title>
<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link th:href="@{/waiterStyles/waiter.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/css/todayWaiter.css}">
<link th:href="@{/css/navbar.css}" rel="stylesheet" />

</head>
<body>
	<nav class="navbar">
      <div class="navbar__container">
        <a th:href="@{/home}" id="navbar__logo">Restoraunt</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a th:href="@{/home}" class="navbar__links" >Home</a>
          </li>
           <li class="navbar__item">
            <a th:href="@{/waiter/}" class="navbar__links" >Tables</a>
          </li>
          <li class="navbar__item">
            <a th:href="@{/waiter/deleteExpiredReservations}" class="navbar__links">Expired</a>

          </li>
          <li class="navbar__btn">
            <a th:href="@{/logout}" class="button" id="signup">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
			<thead>
				<tr>
					<th>Table ID</th>
					<th>Name</th>
					<th>Username</th>
					<th>Period</th>
					<th>Time</th>
					<th>Note</th>
					<th>Arrived</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="r: ${reservations}">
					<td th:text ="${r.tableid}"></td> 
					<td th:text = "${r.firstName}"></td >
					<td th:text="${r.username}"></td>
					<td th:text="${r.period}"></td>
					<td th:text="${r.time}"></td>
					<td th:text="${r.note}"></td>
					<td th:text = "${r.arrived}"></td> 
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
  </div>
</div>
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/select2/select2.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/home.js"></script >
</body>
</html>