<html xmlns="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Today reservations</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css" />
<link th:href="@{/waiterStyles/today-waiter.css}" rel="stylesheet" />

</head>
<body>
 <div class="background">
	<div class = "navbar">
			<nav>
				<ul>
				<li><a th:href="@{/waiter/tables}">Tables</a> </li>
				<li><a th:href="@{/waiter/deleteExpiredReservations}">Expired reservations</a></li>
				</ul>
			</nav>		
			</div> 
		<br/>
		<div class = "table">
		<table class="table table-bordered table" id = "reservations">
			<thead>
				<tr>
					<th>Table ID</th>
					<th>Username</th>
					<th>Period</th>
					<th>Time</th>
					<th>Note</th>
					<th>Arrived</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="r: ${reservations}">
					<td th:text ="${r.tableid}"></td> 
					<td th:text="${r.username}"></td>
					<td th:text="${r.period}"></td>
					<td th:text="${r.time}"></td>
					<td th:text="${r.note}"></td>
					<td th:text = "${r.arrived}"></td> 
				</tr>
			</tbody>
		</table>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
<script>
	$(document).ready(function(){
		$("#reservations").DataTable();
	})
</script>
</body>
</html>