<html xmlns="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link th:href="@{/publicStyles/home-page.css}" rel="stylesheet" />
</head>
<body>
	<div class="background">
	<div class = "navbar">
			<nav>
				<ul>
				<li><a th:href="@{/public/home}">Home</a></li>
				<li><a th:href="@{/public/reserve-form}">Reserve</a></li>
				<li><a id="cancel" th:href="@{/public/cancelReservation}" onclick="return proceed()" >Cancel reservation</a></li>
				</ul>
			</nav>		
			</div> 
		<br/>

</div >
 <script type="text/javascript">
 
 function proceed(){
	 if (confirm('Are you sure you want to cancel the reservation?'))
          return true;
       else
           return false;
}
 </script > 
</body>
</html>