<html xmlns="http://www.thymeleaf.org">

<head>
<title>Reserve</title>
<link th:href="@{/publicStyles/reserve-form-user.css}" rel="stylesheet" />

</head>
<body>
	<body>
	<div class="background">
	<div class = "navbar">
			<nav>
				<ul>
				<li><a th:href="@{/public/home}"> Home </a></li>
				<li><a th:href="@{/public/reserve-form}"> Reserve </a></li>
				<li><a th:href="@{/public/cancel-reservation-form}" > Cancel reservation </a></li>
				</ul>
			</nav>		
			</div> 
		<br/>
<div class = "form">
</br>
<div class = "h4"><h4>Reserve</h4></div>
	<div class = "content">
		<form th:action="@{/public/reserveTable}" th:object="${reservation}" th:method="post">
				</br>
				<input type="checkbox" th:field ="*{accepted}" value="true"/> Accept
				</br>
				</br>
				<label>Username</label>
				</br>
   				<input type="text" th:field="*{username}">
   				</br>
   				</br>
   				<label>Password</label>
   				</br>
   				<input type = "password" th:field = "*{password}">
   				</br>
   				</br>
   				<label>Reservation date</label>
   				</br>
   				</br>				
   				<input type = "date" th:field ="*{date}">
   				</br>
   				</br>
   				</br>
   				<label>Period of the day</label>
   				</br>
   				</br>
   				<input type="radio" th:field ="*{period}" value="1" /> Breakfast
   				</br>
   				</br>
   				<input type="radio" th:field ="*{period}" value="2" /> Lunch
   				</br>
   				</br>
   				<input type="radio" th:field ="*{period}" value="3" /> Dinner
   				</br>
   				</br>
   				</br>
   				</br>
   				<label>Specific time</label>
   				</br>
   				</br>
   				<input type="time" th:field ="*{time}">
   				</br>
   				</br>
   				<label>Notes</label>
   				<input type="text" th:field ="*{note}">
   				<input type="submit" value="Submit">
  </form>
 </div>
</div >
</div>
</body>
</html>