<html xmlns="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reserve</title>
<link th:href="@{/publicStyles/reserve-form-user.css}" rel="stylesheet" />

</head>
<body>
	<div class="background">
		 <nav class="navbar">
      <div class="navbar__container">
        <a th:href="@{/public/home}" id="navbar__logo">Restoraunt</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a th:href="@{/public/home}" class="navbar__links" >Home</a>
          </li>
          <li class="navbar__item">
          <a th:href="@{/public/reserve-form/}" class="navbar__links">Reserve</a>
          </li>
          <li class="navbar__item">
          <a th:href="@{/public/cancelReservation}" class="navbar__links" onclick="proceed()">Cancel reservation</a>
          </li>
          <li class="navbar__btn">
            <a th:href="@{/logout}" class="button" id="signup">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
<div class = "form">
<div class = "h4"><h4>Reserve</h4></div>
	<div class = "content">
		<form th:action="@{/public/reserveTable}" th:object="${reservation}" th:method="post">
				</br>
				<input type="checkbox" th:field ="*{accepted}" value="true"/> Accept
				</br>
				</br>
   				<label>Reservation date</label>
   				</br>
   				</br>				
   				<input type = "date" th:field ="*{date}">
   				</br>
   				</br>
   				</br>
   				<label>Period of the day</label>
   				</br>
   				</br>
   				<input type="radio" th:field ="*{period}" value="1" /> Breakfast  07:00 AM - 12:00 PM
   				</br>
   				</br>
   				<input type="radio" th:field ="*{period}" value="2" /> Lunch 01:00 PM - 07:00 PM
   				</br>
   				</br>
   				<input type="radio" th:field ="*{period}" value="3" /> Dinner 08:00 PM - 10:00 PM
   				</br>
   				</br>
   				</br>
   				</br>
   				<label>Specific time</label>
   				</br>
   				</br>
   				<input type="time" th:field ="*{time}">
   				</br>
   				</br>
   				</br>
   				<label>Notes</label>
   				<input type="text" th:field ="*{note}">
   				<input type="submit" value="Submit">
  </form>
 </div>
</div >
</div>
<script type="text/javascript">
 
 function proceed(){
	 if (confirm('Are you sure you want to cancel the reservation?'))
          return true;
       else
           return false;
}
 </script > 
 <script src="/js/home.js"></script >
</body>
</html>