<html xmlns="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reserve</title>
<link th:href="@{/publicStyles/reserve-form-user.css}" rel="stylesheet" />
<link th:href="@{/css/js_errors.css}" rel="stylesheet" />
<link th:href="@{/css/navbar.css}" rel="stylesheet" />
</head>
<body>
	<div class="background">
		 <nav class="navbar">
      <div class="navbar__container">
        <a th:href="@{/home}" id="navbar__logo">Restoraunt</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a th:href="@{/home}" class="navbar__links" >Home</a>
          </li>
          <li class="navbar__item">
          <a th:href="@{/public/reserve-form/}" class="navbar__links">Reserve</a>
          </li>
          <li class="navbar__item">
          <a th:href="@{/public/cancelReservation}" class="navbar__links" onclick="proceed()">Cancel reservation</a>
          </li>
          <li class="navbar__btn">
            <a th:href="@{/logout}" class="button" id="signup">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    </br>
<div class = "form">
	<div class = "content">
		<form th:action="@{/public/reserveTable}" th:object="${reservation}" th:method="post" onsubmit="return formValidation()">
            	<div class="input-control">				
            	<input id="accept" type="checkbox" th:field ="*{accepted}" value="true"/> Accept
				<div class="error"></div>
            	</div>
   				<label>Reservation date</label>
   				</br>
   				</br>
             	<div class="input-control">		
   				<input name="date" type = "date" th:field ="*{date}">
   				<div class="error"></div>
             	</div>
   				<label>Period of the day</label>
   				</br>
   				</br>
   				<div class="input-control">
   				<input name="period" type="radio" th:field ="*{period}" value="1" onclick="setBreakfastFee()"/> Breakfast  07:00 AM - 12:00 PM
   				</br>
   				</br>
   				<input name="period" type="radio" th:field ="*{period}" value="2" onclick="setLaunchFee()"/> Lunch 01:00 PM - 07:00 PM
   				</br>
   				</br>
   				<input name="period" type="radio" th:field ="*{period}" value="3" onclick="setDinnerFee()"/> Dinner 08:00 PM - 10:00 PM
   				<div id="periodError"></div>
   				<div class="error"></div>
   				</div>
   				<label>Specific time</label>
   				</br>
   				</br>
   				<div class="input-control">
   				<input id="specTime" name="time" type="time" th:field ="*{time}">
   				<div class="error"></div>
   				</div>
   				<label>Notes</label>
   				<input type="text" th:field ="*{note}">
   				<input id="sub" type="submit" value="Reserve">
  </form>
 </div>
</div >
</div>
 <script src="/js/home.js"></script >
 <script src="/js/validateReservation.js"></script >
<script type="text/javascript">
 function proceed(){
	 if (confirm('Are you sure you want to cancel the reservation?'))
          return true;
       else
           return false;
}
 </script > 
</body>
</html>